<%= form_for(@itinerary) do |f| %>
  <div class="user_id">
    <%= f.label :user_id %>
    <%= f.select :user_id, options_for_select(User.all.map{|s|[s.name, s.id]}) %>
  </div>

  <%# general information container %>
  <div class="general_information_container">

    <%# general information label %>
    <div class="setting-label" id="basic_information_label" data-toggle="collapse" data-target="#generalSettings" aria-expanded="true" onclick="toggleSettingLabel('generalSettingsLabel', 0)">Itinerary Basic Information</div>
    <%# general information label end %>

    <%# general information form %>
    <div id="general_information" class="collapse in" aria-expanded="true">
      <%# Init Name %>
      <div class="form-group">
        <%= f.label :name, "Itinerary Name" %>
        <%= f.text_field :name, class: "form-control input-lg", id: "name" %>
      </div>
      <%# Init Name End %>

      <%# Init Desc %>
      <div class="form-group">
        <%= f.label :description, "Description" %>
        <%= f.text_area :description, class: "form-control input-lg", row: "4", id: "initDesc" %>
      </div>
      <%# Init Desc End %>

      <%# radio btns %>
      <p>Add all the days involved in this itinerary:</p>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Add single days at a time
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Add a range of days
        </label>
      </div>
      <%# radio btns end %>

      <%# Calendar inputs woo woo %>
      <div class="row">
        <div class="col-sm-6"><div class="form-group">
            <%= f.label :startdate, "Start Date" %>
            <div id="startDateCalendar" class="mini-calendar-container"></div>
            <%= f.text_field :startdate, class: "calender-form-control", id: "calendarInput0", placeholder: "mm/dd/yyyy", onblur: "calendarInputValidator('0')" %>
        </div></div>
        <div class="col-sm-6"><div class="form-group">
            <%= f.label :enddate, "End Date" %>
            <div id="endDateCalendar" class="mini-calendar-container"></div>
            <%= f.text_field :enddate, class: "calender-form-control", id: "calendarInput1", placeholder: "mm/dd/yyyy", onblur: "calendarInputValidator('1')" %>
        </div></div>
      </div>
    </div>
    <%# general information form end %>
  </div>
  <%# general information container end %>

  <div class="actions">
    <%= f.submit class: "btn btn-lg" %>
  </div>
<% end %>

