<div class='title' style="text-align:center">
  <h1><%= @itinerary.name %></h1>

  <p>From 
  <%= @itinerary.startdate %> to <%= @itinerary.enddate %>
  </p>
</div>

<p>
  <strong>Description:</strong>
  <%= @itinerary.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @user.email %>
</p>

<table class='table'>
  <tr>
  <th>Event     </th>
  <th>Duration     </th>
  <th>Time Ranges    </th>
  <th>Invited Users     </th>
    <th></th>
  </tr>
  <% @events.each do |event| %>
   <tr>
     <td><%= event.name %></td>
     <td><%= event.duration %></td> 
     <td><%= event.start_datetime %></td>
     <td><% EventInvitedUser.where(event_id: event.id).find_each do |eiu| %>
       <% if User.exists?(eiu.user_id) %> 
           <p><% user = User.find(eiu.user_id) %>
           <%= user.email %></p>
         <% end %>
       <% end %>
     </td>
     <td><%= link_to 'View Event', itinerary_event_path(@itinerary, event) %></td>
   </tr>
  <% end %>
    
</table>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>