<div class='title' style="text-align:center">
  <h1><%= @itinerary.name %></h1>

  <p>From 
  <%= @itinerary.startdate %> to <%= @itinerary.enddate %>
  </p>
</div>

<p>
  <strong>Description:</strong>
  <%= @itinerary.description %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @user.email %>
</p>

<table class='table'>
  <tr>
  <th>Event     </th>
  <th>Duration     </th>
  <th>Time Ranges    </th>
  <th>Invited Users     </th>
    <th></th>
  </tr>
  <% @events.each do |event| %>
   <tr>
     <td><%= event.name %></td>
     <td><%= event.duration %></td> 
     <td><%= event.start_datetime.strftime("%m/%d at %H:%M:%S") %> to <%= event.end_datetime.strftime("%m/%d at %H:%M:%S") %></td> 
     <td><% EventInvitedUser.where(event_id: event.id).find_each do |eiu| %>
       <% if User.exists?(eiu.user_id) %> 
           <p><% user = User.find(eiu.user_id) %>
             <% if Vote.exists?(user_id: eiu.user_id, event_id: event.id) %>
               <p class="bg-success"><%= user.email %></p>
             <% else %>
               <p class="bg-danger"><%= user.email %></p>
             <% end %>
         <% end %>
       <% end %>
     </td>
     <td><%= link_to 'View Event', itinerary_event_path(@itinerary, event) %></td>
   </tr>
  <% end %>
    
</table>

<%= button_to 'Call Action', itinerary_determine_time_path(@itinerary), method: :post %>
<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
<p><%= link_to "PDF Print Out", itinerary_path(@itinerary, :format => 'pdf') %></p>