<%= form_for(@group ) do |f| %>
<fieldset>
  <legend>Create a New Group</legend>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
     <p><%= f.text_field :name %></p>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
      <p><%= f.text_field :description %></p>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :member_name, "member name:", class: "control-label" %>
    <div class="controls">
      <p><%= text_field_tag(:member_name) %>
        <button id="add_member" type="button">+
        </button>
      </p>
      <div id="selected_members"></div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>

<script>
  $(function() {
    var addName = function(){
      var name = $("#member_name").typeahead("val");
      var obj = false;
      for (var i=0; i<member_names.length; i++) {
        if (member_names[i].name == name) {
          obj = member_names[i];
          break;
        }
      }
      if (obj) {
        var input = $("<input />");
        input.attr("name", "group[members][]");
        input.val(obj.id);
        input.attr("id", "input_" + obj.id);
        input.attr("type", "hidden");
        var memberDiv = $("<div />");
        memberDiv.attr("id", "member_" + obj.id);
        memberDiv.text(obj.name);
         
        var container = $("<div />");
        container.append(memberDiv).append(input);
         
        $("#selected_members").append(container);

        $("#member_name").typeahead("val", "");
      }
    };
    $("#add_member").on("click", addName);
    $("#member_name").on("keypress", function(e){
      if (e.which == 13){
        e.preventDefault();
        addName();
      }
    });
    var substringMatcher = function(objs) {
      return function findMatches(q, cb) {
        var matches, substrRegex;
     
        // an array that will be populated with substring matches
        matches = [];
     
        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');
     
        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(objs, function(i, obj) {
          if (substrRegex.test(obj.name)) {
            // the typeahead jQuery plugin expects suggestions to a
            // JavaScript object, refer to typeahead docs for more info
            matches.push(obj);
          }
        });
     
        cb(matches);
      };
    };
    var member_names = <%= raw(@member_names.to_json) %>;
    $("#member_name").typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'member_names',
      displayKey: 'name',
      source: substringMatcher(member_names)
    });
  });
</script>
