<%= form_for(@group ) do |f| %>
<fieldset>
  <legend>Create a New Group</legend>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
     <p><%= f.text_field :name %></p>
    </div>
  </div>

   <div class="control-group">
    <%= f.label :description, class: "control-label" %>
    <div class="controls">
      <p><%= f.text_field :description %></p>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :member_name, "member name:", class: "control-label" %>
    <div class="controls">
      <p><%= text_field_tag(:member_name) %></p>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>

<script>
  $(function() {
    var substringMatcher = function(strs) {
      return function findMatches(q, cb) {
        var matches, substrRegex;
     
        // an array that will be populated with substring matches
        matches = [];
     
        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(q, 'i');
     
        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strs, function(i, str) {
          if (substrRegex.test(str)) {
            // the typeahead jQuery plugin expects suggestions to a
            // JavaScript object, refer to typeahead docs for more info
            matches.push({ value: str });
          }
        });
     
        cb(matches);
      };
    };
    var member_names = <%= raw(@member_names.to_json) %>;
    $("#member_name").typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'member_names',
      displayKey: 'value',
      source: substringMatcher(member_names)
    });
  });
</script>
