<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div id = "profile">
	<div class='title' style="text-align:center">
	  <h1> My Profile </h1>
	</div>

	<!-- Place this tag where you want the widget to render. -->
	<div class="g-person" data-href="//plus.google.com/u/0/101423158099910802139" data-layout="landscape" data-rel="author"></div>
	<p>
		<strong>Name:</strong>
		<%= @user.name %>
	</p>

	<p>
		<strong>Title:</strong>
		<%= @user.title %>
	</p>

	<p>
		<strong>email:</strong>
		<%= @user.email %>
	</p>

	<p>
		<strong>Phone number:</strong>
		<%= @user.work %>
	</p>

	<p>
		<%= link_to "Edit profile", profile_edit_path, class: "btn btn-success" %>
	</p>
</div>