<%# duration label button%>
<a data-toggle="collapse" id="duration_label_button" data-toggle="collapse" data-target="#duration_container" aria-expanded="true" href="#duration_container">
<div class="setting-label" onclick="toggle_label_button('#information_label_button', 0)">Event Duration</div>
</a>

<%# duration form %>
<div id="duration_container" class="collapse in" aria-expanded="true">
  <%# Calendar inputs %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.label :startdate, "Start Date" %>
      <div class='input-group date' id='datetimepicker1'>
        <%= f.text_field :startdate, class: "form-control input-lg", placeholder: "--/--/---- --:-- --" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="col-sm-6">
      <%= f.label :enddate, "End Date" %>
      <div class='input-group date' id='datetimepicker2'>
        <%= f.text_field :enddate, class: "form-control input-lg", placeholder: "--/--/---- --:-- --" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"><div class="form-group">
        <%= f.label :deadlinedate, "Deadline" %>
        <%= f.text_field :deadlinedate, class: "datetime-form-control", id: "datetimepicker3", placeholder: "--/--/---- --:-- --" %>
    </div></div>
  </div>
    <div class="form-group">
    <%= f.label :duration, "Event Duration (minutes)" %>
    <%= f.number_field :duration, class: "form-control input-lg", id: "duration" %>
  </div>
  <div clas = "row">
    <%= label :votetype, "Will this event be voted or first come first serve?" %>
    <br>
    <div>
      <%= f.label :votetype, "Vote for best time for everyone within the time range" %>
      <%= f.radio_button :votetype, true , :checked => true , :value => false %>
    </div>
      <br>
    <div>
      <%= f.label :votetype, "Break up the time frame into duration-length chunks and make the slots first come first serve"%>
      <%= f.radio_button :votetype, false, :value => false%>
    </div>
  </div>
</div>