<p>
  <strong>Event name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Itinerary ID:</strong>
  <%= @event.itinerary_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.startdate %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.enddate %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @event.deadlinedate %>
</p>

<%= link_to 'Delete', events_destroy_path(:id => @event.id) %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
