<br>
<br>
<br>

<h1>Listing Itinerary/Events</h1>

<% @events.in_groups_of(3).each do |events| %>
  <% events.select! {|x| !x.nil?} %>
  <div class='row'>
    <% events.each do |events| %>
      <div class='col-md-4'>
        <div class="name">
            <p> <%= event.name %> </p>
            <div class="caption">
              <span class="listing-desc"><%= event.description %></span>
              <span class="listing-desc">Itinerary: <%= @itineraries.find(event.itinerary_id).name %></span>
              <span class="listing-desc"><%= event.duration %></span>
              <span class="listing-desc"><%= event.startdate %></span>
              <span class="listing-desc"><%= event.enddate %></span>
              <span class="listing-desc"><%= event.deadline %></span>
              <span><%= link_to "Edit", edit_event_path(event.id) %></span>
              <span><%= link_to "Delete", events_delete_path(:id => event.id) %></span>
            </div>
          </div>
      </div>
    <% end %>
  </div>
<% end %>
<br>
<%= link_to 'New', new_event_path %>

<%# link_to 'New Itinerary', new_itinerary_path %>