<br>
<br>
<br>

<h1>Listing Itinerary/Events</h1>

<% @events.in_groups_of(3).each do |events| %>
  <% events.select! {|x| !x.nil?} %>
  <div class='row'>
    <% events.each do |event| %>
      <div class='col-md-4'>
        <div class="name">
            <p> <%= event.name %> </p>
            <div class="caption">
              <span class="listing-desc"><%= event.description %></span>
              <span class="listing-desc">Itinerary: <%= @itinerary.name %></span>
              <span class="listing-desc"><%= event.duration %></span>
              <span class="listing-desc"><%= event.startdate %></span>
              <span class="listing-desc"><%= event.enddate %></span>
              <span class="listing-desc"><%= event.deadlinedate %></span>
              <br><span><%= link_to "Edit", edit_itinerary_event_path(@itinerary.id, :id => event.id) %></span>
              <span><%= link_to "Delete", itinerary_events_delete_path(@itinerary.id, :id => event.id) %></span>
              <span><%= link_to "Show", [@itinerary, event] %></span>
            </div>
          </div>
      </div>
    <% end %>
  </div>
<% end %>
<br>
<%= link_to 'New Event', new_itinerary_event_path %>
<%= link_to 'Show Current Itinerary', @itinerary %>