<p>
  <h1><%= @event.name %></h1>
  
</p>

<p>
  From <%= @event.startdate %> to <%= @event.enddate %>
</p>

<p> Part of <%= @itinerary.name %> </p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event Type</strong>
  Event time is decided by <% if @event.votetype %>voting to determine best time<% else %>first come first serve time slots<% end %>.

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @event.deadlinedate %>
</p>

<p>
  <strong>Invited Guests:</strong>
  <table class="table">
    <tr>
    <th>Email</th>
    <th>Has Responded</th>
      <th></th>
    </tr>
  <% @guests.each do |guest| %>
    <% if User.exists?(guest.user_id) %>
  <% user = User.find(guest.user_id) %>
    <tr>
    <td><%= user.email %></td>
     <td><% votes = Vote.where(user_id: user.id) %>
       <% if votes.blank? %>
         No
       <% else %>
         Yes
       <% end %>
        </td>
    </tr>
    <% end %>
  <% end %>
</table>
</p>
<%= link_to 'Edit', edit_itinerary_event_path(@itinerary, @event) %> |
<%= link_to 'View Itinerary', itinerary_path(@itinerary) %>