<h2>Next Event</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Duration</th>
    <th>Start Time</th>
    <th>Itinerary Name</th>
    <th><th>
  </tr>
  <% @invitations.each do |invite| %>
  <tr>
    <% @event=Event.where(id: invite.event_id).first %>
    <% @itinerary = @event.itinerary %>

  <td><%= @event.name %></td>
  <td><%= @event.duration %></td>
  <td><%= @event.start_datetime %></td>
  <td><%= @itinerary.name %></td>
  <td><%= link_to 'Show Itinerary', @itinerary %></td>
   </tr>
  <% end %> 
</table>