	<!--<div class="row-fluid" style="padding-top:15px">
		<div class="col-md-2 column" style= "background:#7A7878">
			<div class="span3 bs-docs-sidebar" style= "color:#7A7878">
				<ul class="nav nav-list bs-docs-sidenav">
          <li><a href=""><i class="icon-chevron-right" style = "background:#333"></i> Home</a></li>
          <li><a href="#code"><i class="icon-chevron-right"></i>Schedules I'm In </a></li>
          <li><a href="#tables"><i class="icon-chevron-right"></i> Schedules I made</a></li>
          <li><a href="#forms"><i class="icon-chevron-right"></i> History</a></li>
        </ul>
      </div>
		</div>-->
    
<div class = "row">
  <div class="col-md-4">
    <button type="button" class="btn btn-default" onclick="showList()">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List
    </button>
    <button type="button" class="btn btn-default" onclick="showCalendar()">
      <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Calendar
    </button>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <a href = "/itineraries/new" class="btn btn-success" role = "button">+Create Itinerary
    </a>
  </div>
</div>
<% i = 0 %>
<% @itineraries.each do |itinerary| %>
  <input type="checkbox" checked="true" id="itinerary_hide_toggle<%= itinerary.id %>" onclick="hide_itinerary(<%= itinerary.id %>)">
  <a href="<%= itinerary_path(itinerary.id) %>">Itinerary: <%= itinerary.id %> | <%= itinerary.name %></a><br>
  <% @itinerary_event_count[i].times do |j| %>
    <input type="checkbox" checked="true" class="itinerary_hide_toggle<%= itinerary.id %>" id="event_hide_toggle<%= itinerary.id %>_<%= @events[j].id %>" onclick="hide_event(<%= itinerary.id %>, <%= @events[j].id %>)">
    <a href="<%= event_path(@events[j].id) %>">Event: <%= @events[j].id %> | <%= @events[j].name %></a><br>
  <% end %>
  <% i += 1 %>
<% end %>
<p>itinerary2</p>
<% i = 0 %>
<% @itineraries2.each do |itinerary2| %>
  <input type="checkbox" checked="true" id="itinerary_hide_toggle<%= itinerary2.id %>" onclick="hide_itinerary(<%= itinerary2.id %>)">
  Itinerary: <%= itinerary2.id %> | <%= itinerary2.name %><br>
  <% @itinerary_event_count2[i].times do |j| %>
    <input type="checkbox" checked="true" class="itinerary_hide_toggle<%= itinerary2.id %>" id="event_hide_toggle<%= itinerary2.id %>_<%= @events2[j].id %>" onclick="hide_event(<%= itinerary2.id %>, <%= @events2[j].id %>)">
    Event: <%= @events2[j].id %> | <%= @events2[j].name %><br>
  <% end %>
  <% i += 1 %>
<% end %>
<% @events3.each do |i| %>
    <input type="checkbox" checked="true" id="event_hide_toggle<%= i.itinerary_id %>_<%= i.id %>" onclick="hide_event(<%= i.itinerary_id %>, <%= i.id %>)">
    Event: <%= i.id %> | <%= i.name %><br>
<% end %>

<%= render 'dashboard_list' %>
<%= render 'dashboard_calendar' %>