<%= form_for ([@itinerary, @event, @vote]) do |f| %>
  <div class="row">
    <div class="col-sm-6"><div class="form-group">
        <%= f.label :start, "Start Date" %>
        <%= f.text_field :start, class: "datetime-form-control", id: "datetimepicker1", placeholder: "mm/dd/yyyy hh:mm AM" %>
    </div></div>
    <div class="col-sm-6"><div class="form-group">
      <%= f.label :end_time, "End Date" %>
      <%= f.text_field :end_time, class: "datetime-form-control", id: "datetimepicker2", placeholder: "mm/dd/yyyy hh:mm AM" %>
    </div></div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-lg" %>
  </div>
<% end %>