
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "My itineraries", root_path %></li>
<li><%= link_to "My events", root_path %></li>
<li><%= link_to "My groups", root_path %></li>
<li><%= link_to "My profile", root_path %></li>

