<!--<li><%= link_to 'My itineraries', page_path('../dashboards/dashboard') %></li>
<li><%= link_to 'My events', page_path('../events') %></li>-->
<li><%= link_to 'Dashboard', dashboard_path %></li>
<li><%= link_to 'My profile', profile_path %></li>
<li><%= link_to 'My groups', groups_path %></li>
<li><%= link_to 'Acount Settings', users_edit_path %></li>
<li><%= link_to 'Help', '#' %></li>
<li><%= link_to "Log out", logout_path, method: "delete" %></li>
