<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Planif-i" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Planif-i" %>">
    <%# <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='lib/jquery.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script> %>

    <%# What is defaults.js?  It's giving a 404 not found when the website is trying to load it, commented it out %>

    <%# javascript_include_tag :defaults %>
    <%= favicon_link_tag 'fav_cuthen_logo.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script>
    </script>  
  </head>
  <body id="<%= controller_name %>">
    <div class="wrapper">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
       <main role="main">
        
          <%= render 'layouts/messages' %>
          <%= yield %>
      </main>
      <footer class = "footer">
        <%= render 'layouts/footer' %>
      </footer>
    </div>
  </body>
</html>
