<% provide(:title, 'Edit User') %>
<h1>Account Settings</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for resource, :as => resource_name, 
                           :url => registration_path(resource_name),
                           :html => { :method => :put } do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>

        <%# f.label :prefix %>
        <%# f.select :prefix, options_for_select([['Mr.', 'Mr.'], ['Ms.', 'Ms.'], ['Mrs.', 'Mrs.'], ['Dr.', 'Dr.']]) %>

        <%# f.label :title %>
        <%# f.text_field :title, class: 'form-control' %>
        <%# end %>

      <%= f.label :current_password %> <i>(To confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      <br/>
      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%# link_to "Back", :back %>
